<div class="footer">
    <div class="maxwidth">
        <div class="f_l">
            <a href="javascript:void(0);">帮助中心</a>  &nbsp;/&nbsp;
            <a href="javascript:void(0);">关于我们</a>  &nbsp;/&nbsp;
            <a href="javascript:void(0);">平台声明</a>  &nbsp;/&nbsp;
            <a href="javascript:void(0);">服务条款</a>  &nbsp;/&nbsp;
            <a href="javascript:void(0);">隐私保护</a>  &nbsp;/&nbsp;
            <a href="javascript:void(0);">加入我们</a>
            <p>成都世纪文翁科技有限公司 版权所有 ICP证：蜀ICP备13018426号<br/>合作伙伴:成都石室中学、中国电信股份有限公司四川分公司</p>
        </div>
        <div class="f_r"><img src="/image/wechat_code.png" /></div>
    </div>
</div>