<div class="header">
    <div class="headerview">
        <div class="maxwidth">
            <div class="logo f_l"><a href="/teacher"><img src="/image/logo.png" /></a></span></div>
            <div class="slogan f_l"><img src="/image/slogan.png" /></div>
            <div class="call f_r"><img src="/image/call.png" /></div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="maxwidth">
        <div class="f_l l"><i></i> &nbsp;{{teacher.teacher.name}}，欢迎来到个人中心.<a href="/teacher/logout">退出</a></div>
        <div id="is_live" class="f_l m"><i></i></div>
        <div class="f_r r">
            <a href="/teacher/message"><i></i> 3</a>
        </div>
    </div>
</div>
